#body{
    text-align: center;
    margin: 5%;
    background-color: #FF7518;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 50px;
    padding: 5px;
}

.questions{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.answerImage{
    width: 30px;
    height: 30px;
    display: none;
}

#submitButton{
    border: 1px solid black;
    border-radius: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

input{
    border: 1px solid black;
    border-radius: 20px;
}
